@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #ededed;
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-minecraftia: 'Minecraftia', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #36363b;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}


/* test */
button {
  --transition: 0.25s;
  --spark: 3s;
  --bg: black;
  background: var(--bg);
  padding: 6px 18px;
  display: grid;
  border-radius: 9999px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1000px 0 0 hsl(0 0% 20%) inset;
  transition: box-shadow var(--transition), background var(--transition),
    transform var(--transition);
}

button:hover .backdrop {
  background: rgb(20 20 20);
}

button:hover {
  transform: scale(1.05);
}

.spark {
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  rotate: 0deg;
  overflow: hidden;
  mask: linear-gradient(white, transparent 50%);
  animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes flip {
  to {
    rotate: 360deg;
  }
}

.spark:before {
  content: "";
  position: absolute;
  width: 200%;
  aspect-ratio: 1;
  inset: 0 auto auto 50%;
  z-index: -1;
  translate: -50% -15%;
  rotate: 0;
  transform: rotate(-90deg);
  opacity: 1;
  background: conic-gradient(from 0deg, transparent 0 340deg, white 360deg);
  transition: opacity var(--transition);
  animation: rotate var(--spark) linear infinite both;
}

.backdrop {
  position: absolute;
  inset: 1px;
  background: var(--bg);
  border-radius: 9999px;
  transition: background var(--transition) opacity var(--transition);
}

@keyframes rotate {
  to {
    transform: rotate(90deg);
  }
}

.text {
  z-index: 1;
  color: rgb(203 213 225);
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}

/* profile */
.customlink-card .customlink-arrow i {
  transition: transform 0.15s ease-in-out;
}

.customlink-card:hover .customlink-arrow i {
  transform: translateX(5px);
}

/* profile discord join server button */
.discord-join .join-arrow {
  transition: transform 0.15s ease-in-out;
}

.discord-join:hover .join-arrow {
  transform: translateX(3px);
}

/* [AUDIO PLAYER] */
.rhap_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: inherit;
  width: 100%;
  /* padding: 15px; */
  padding: 0 15px;
  /* margin-top: 20px; */
  font-size: 16px;
  background-color: transparent
}

.rhap_container:focus:not(:focus-visible) {
  outline: 0
}

.rhap_container svg {
  vertical-align: initial
}

.rhap_header {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px
}

@media (max-width: 500px) {
  .rhap_header {
      margin-bottom:10px
  }
}

.rhap_footer {
  margin-top: 5px
}

.rhap_main {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto
}

@media (max-width: 500px) {
  .rhap_main {
      flex-direction:column
  }
}

.rhap_horizontal {
  flex-direction: row
}

.rhap_horizontal .rhap_controls-section {
  margin-left: 8px
}

.rhap_horizontal-reverse {
  flex-direction: row-reverse
}

.rhap_horizontal-reverse .rhap_controls-section {
  margin-right: 8px
}

.rhap_stacked-reverse {
  flex-direction: column-reverse
}

.rhap_stacked-reverse .rhap_controls-section {
  margin-bottom: 8px
}

.rhap_stacked {
  gap: 1rem
}

.rhap_progress-section {
  display: flex;
  flex: 3 1 auto;
  align-items: center
}

.rhap_progress-container {
  display: flex;
  align-items: center;
  height: 20px;
  flex: 1 0 auto;
  align-self: center;
  margin: 0 calc(10px + 1%);
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none
}

.rhap_progress-container:focus:not(:focus-visible) {
  outline: 0
}

.rhap_time {
  color: #fff;
  font-size: 16px;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none
}

.rhap_progress-bar {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 2px
}

.rhap_progress-filled {
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #868686;
  border-radius: 2px
}

.rhap_progress-bar-show-download {
  background-color: hsla(0,0%,87%,.5)
}

.rhap_download-progress {
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #ddd;
  border-radius: 2px
}

.rhap_progress-indicator {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  top: -8px;
  background: #868686;
  border-radius: 50px
}

.rhap_additional-controls {
  display: flex;
  flex: 1 0 auto;
  align-items: center
}

.rhap_repeat-button {
  font-size: 26px;
  width: 26px;
  height: 26px;
  color: #868686;
  margin-right: 6px
}

.rhap_main-controls {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center
}

.rhap_main-controls-button {
  margin: 0 3px;
  color: #868686;
  font-size: 35px;
  width: 35px;
  height: 35px
}

.rhap_play-pause-button {
  font-size: 40px;
  width: 40px;
  height: 40px
}

.rhap_volume-controls {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center
}

.rhap_volume-button {
  flex: 0 0 26px;
  font-size: 26px;
  width: 26px;
  height: 26px;
  color: #868686;
  margin-right: 6px
}

.rhap_volume-container {
  display: flex;
  align-items: center;
  flex: 0 1 100px;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none
}

.rhap_volume-bar-area {
  display: flex;
  align-items: center;
  width: 100%;
  height: 14px;
  cursor: pointer
}

.rhap_volume-bar-area:focus:not(:focus-visible) {
  outline: 0
}

.rhap_volume-bar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 4px;
  background: #ddd;
  border-radius: 2px
}

.rhap_volume-indicator {
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  left: 0;
  top: -4px;
  /* background: #868686; */
  opacity: .9;
  border-radius: 50px;
  cursor: pointer
}

.rhap_volume-indicator:hover {
  opacity: .9
}

.rhap_volume-filled {
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #868686;
  border-radius: 2px
}

.rhap_button-clear {
  background-color: transparent;
  border: none;
  padding: 0;
  overflow: hidden;
  cursor: pointer
}

.rhap_button-clear:hover {
  opacity: .9;
  transition-duration: .2s
}

.rhap_button-clear:active {
  opacity: .95
}

.rhap_button-clear:focus:not(:focus-visible) {
  outline: 0
}

.rhap_additional-controls {
  display: none;
}

.rhap_container button {
  box-shadow: none !important;
  background-color:  transparent !important;
}